<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <Link rel="stylesheet" href="./style.css">
    <link rel="icon" type="image/x-icon" href="./edit-code.png ">
    <title>Collab code review</title>
</head>
<body>
    <h1>Welcome to Collaborative Code Review Platform again!!!</h1> 
    .lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
    <script src="../public/js/index.js"></script>
</body>
</html>